@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	height:90v;
	background-image:url('1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	font-size:23px;
}